/* - - - - - - - - - - - - - - - -
- - - - - A V A T A R - - - - - 
- - - - - - - - - - - - - - - - */
.avatar {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  position: relative;
  margin: 1rem;
}
.avatar-disk {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-missing {
  border: 3px var(--c-primary-40) dashed;
}
.change-avatar {
  cursor: pointer;
  position: absolute;
  right: -0.7rem;
  bottom: -0.7rem;
  background-color: var(--c-bg-header);
  padding: 0.3rem;
  border-radius: 0.5rem;
}
