button {
  font-family: inherit;
}

.button {
  cursor: pointer;
  border-radius: 2rem;
  position: relative;
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-size: 1.2rem; /* bouger ceci ? */

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:focus {
  outline: none !important;
  cursor: pointer;
}

.button-small {
  /* pour les boutons des thèmes */
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  margin: 0.2rem;
  white-space: nowrap;
  border-radius: 0.8rem;
  position: relative;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  font-size: 1rem;
}

.button-secondary {
  background-color: var(--c-secondary-40);
  text-align: center;
}
.button-primary {
  background-color: var(--c-primary);
  text-align: center;
}

.nav-button {
  cursor: pointer;
  --c-border: transparent;
  height: 2.4rem;
  margin-right: 0.5rem;
  display: grid;
  place-items: center;
}

.circled {
  --c-border: var(--c-text);
}

.nav-button-icon {
  border: 3px solid var(--c-border);
  border-radius: 1rem;
  padding: 0.3rem;
}

.fab {
  box-shadow:
    0 0 10px black,
    0 0 40px black;
  /*filter: drop-shadow(0 0 20px yellow);*/
  padding: 1.5rem;
  font-size: 1.5rem;
  position: absolute;
  bottom: 1rem;
  margin: auto;
  background-color: var(--c-primary);
  border-radius: 50%;
}

.pulse {
  animation: pulse 1s ease-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
