/* - - - - - - - - - - - - - - - -
- - - - - B O U T O N S - - - - - 
- - - - - - - - - - - - - - - - */

/* séparer en deux classes */
.btn {
  cursor: pointer;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}

.btn-big {
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.btn:focus {
  outline: none !important;
}

.btn-small {
  /* pour les boutons des thèmes */
  overflow: hidden;
  display: inline-block;
  margin: 0.2rem;
  white-space: nowrap;
  border-radius: 0.8rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  font-size: 1rem;
}

.btn-secondary {
  background-color: var(--c-secondary-40);
}
.btn-primary {
  background-color: var(--c-primary-40);
}

.btn-nav {
  --c-border: transparent;
  height: 3rem;
  display: grid;
  place-items: center;
}

.circled {
  --c-border: var(--c-text);
}

.btn-nav-icon {
  border: 3px solid var(--c-border);
  border-radius: 1rem;
  padding: 0.1rem;
}

.btn-refresh-scores {
  border-radius: 50%;
  background-color: black;
  padding: 0 0.3rem;
  border: 2px solid var(--c-secondary-60);
}
