/* - - - - - - - - - - - - - - - -
- - - - - C O M P O S A N T S - - - - - 
- - - - - - - - - - - - - - - - */


.progress-bar-container {
  background-color: var(--c-primary-40-desat);
  width: 100%; /* de son contenant */
  overflow: hidden;
  height: 100%; /* de son contenant*/
  padding: 0;
  margin: 0;
  border-radius: 1rem;
  display: flex;
}

.progress-bar {
  background-color: var(--c-primary-70-desat);
}
