/* - - - - - - - - - - - - - - - -
- - - - - F O N T S  - - - - - 
- - - - - - - - - - - - - - - - */

@font-face {
  font-family: "Nunito";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/Nunito.woff2");
}
@font-face {
  font-family: "Nunito";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/nunito-v16-latin-900.woff2");
}
