.button-answer {
  padding: 0.8rem 0.8rem;
  border-radius: 3rem;
  color: #eeeeee;
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  width: calc((100% - 2 * var(--margin)) / 3);
}

.button-answer-true {
  background-color: oklch(50% 50% var(--hue-success));
}
.button-answer-undefined {
  background-color: oklch(50% 50% var(--hue-warning));
}
.button-answer-false {
  background-color: oklch(50% 50% var(--hue-danger));
}

.quiz-statement {
  overflow: auto;
  scrollbar-width: none; /*  autoriser une scrollbar visible ici ?*/
}

.quiz-answer {
  display: flex;
  justify-content: space-between;
}
