/* - - - - - - - - - - - - - - - -
- - - - - - - Q U I Z - - - - - - 
- - - - - - - - - - - - - - - - */

.btn-answer {
  cursor: pointer;
  padding: 0.8rem 0.8rem;
  border-radius: 3rem;
  color: #eeeeee;
  font-size: 1rem;
  text-align: center;
  width: calc((100% - 2 * var(--margin)) / 3);
}

.btn-answer:active {
  transform: scale(1.15);
}

.btn-answer-true {
  background-color: oklch(50% 50% var(--hue-success));
}

.btn-answer-undefined {
  background-color: oklch(50% 50% var(--hue-warning));
}
.btn-answer-false {
  background-color: oklch(50% 50% var(--hue-danger));
}

.quiz-statement {
  overflow: auto;
  scrollbar-width: none; /*  autoriser une scrollbar visible ici ?*/
}

.quiz-answer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* MODALS*/

.modal {
  position: fixed;
  z-index: 1;
  margin: 0;
  border: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--c-primary-10-desat);
  color: var(--c-text);

  display: grid;
  place-items: center;
}
