@import "./config.css";
@import "./components.css";
@import "./buttons.css";
@import "./avatar.css";
@import "./quiz.css";

body {
  font-family: Nunito, Futura, Arial;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--c-text);
  background-color: var(--c-primary-40-desat);
  overflow: hidden;
}

.body-container {
  overflow: hidden;
  background-color: var(--c-primary-20-desat);
  margin: auto;
  box-shadow: 0 0 40px var(--c-primary-20-desat);
  max-width: var(--max-width);
  min-height: 100vh;
}

header {
  height: var(--header-height);
  width: 100%;
  background-color: var(--c-bg-header);
  font-size: 1.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer {
  width: 100%;
  background-color: var(--c-bg-header);
  min-height: var(--footer-min-height);
  font-size: 0.8rem;
  padding: 2rem 1rem;
  color: oklch(70% 20% var(--hue-primary));
}

main {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding: 1rem;
  width: 100%;
  max-width: var(--max-width);
}

nav {
  height: 100%;
  display: flex;

  align-items: center;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 900;
}

h3 {
  color: var(--c-secondary-70);
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}

a,
a:active,
a:hover,
a:after {
  color: var(--c-text);
}

.glow {
  text-shadow: 0 0 0.5em var(--c-accent);
}
summary {
  cursor: pointer;
  margin: 0.6em 0 0.6em 1rem;
  font-size: 1.2rem;
  font-weight: 900;
}
.notif {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  border-radius: 1rem;
  color: var(--c-text);
  background-color: var(--c-primary);
  padding: 0.1rem 0.3rem;
  margin: 0;
  font-size: 0.6rem;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 2s linear infinite;
}

/* - - - - - - 
- - - STATS THEME
- - - - - - -*/

.stats-theme {
  background-color: var(--c-bg-header);
  border-radius: 2rem;
  position: relative;
  padding: 0.5rem 1.5rem;
  width: 100%-2rem;
  margin: 0.5rem 1rem; /* pour le glow*/
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.stats-theme-counter {
  /*  conteneur des compteurs */
  width: 5rem;
  flex: 0 0 5rem;
  height: 5rem;
  display: grid;
  align-items: center;
}

.circular-progress {
  margin: auto;
  grid-column: 1;
  grid-row: 1;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--c-bg-body);
}
.svg-icon {
  width: 1em;
  height: 1em;
  fill: var(--c-text);
  transform: translateY(8%);
}

/* MODALS*/
#abortQuizModal {
  max-width: max(80%, 400px);
  outline: none;
  border: 3x solid var(--c-text);
  border-radius: 2rem;
  background-color: var(--c-primary-20-desat);
  color: var(--c-text);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
}
