*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: "Nunito";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("assets/Nunito.woff2");
}
@font-face {
  font-family: "Nunito";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("assets/nunito-v16-latin-900.woff2");
}
:root {
  --max-width: 500px;
  --c-bg-header: black;
  --hue-primary: 208;
  --c-bg-body: oklch(15% 14% var(--hue-primary));
  --c-text: oklch(90% 14% var(--hue-primary));
  --c-primary: oklch(40% 90% var(--hue-primary));
}

body {
  font-family: Nunito, Futura, Arial;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--c-text);
  background-color: var(--c-bg-body);
}
header {
  height: 3rem;
  width: 100%;
  background-color: var(--c-bg-header);
  font-size: 1.5rem;
}

.centered-header {
  height: 100%;
  margin: auto;
  padding: 1rem;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  margin: auto;
  max-width: var(--max-width);
  padding: 1rem;
}

nav {
  height: 100%;
  display: flex;

  align-items: center;
  gap: 1rem;
}

h1 {
  font-size: 3rem;
}

.notif {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  border-radius: 1rem;
  color: var(--c-text);
  background-color: var(--c-primary);
  padding: 0.1rem 0.3rem;
  margin: 0;
  font-size: 0.6rem;
}
