@import "../css/fonts.css";
@import "../css/config.css";
@import "../css/headings.css";

body {
  font-family: Nunito, Futura, Arial;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--c-text);
  background-color: var(--c-primary-40-desat);
}

.body-container {
  background-color: var(--c-primary-20-desat);
  position: relative;
  margin: auto;
  box-shadow: 0 0 40px var(--c-primary-20-desat);
  width: min(100dvw, 1200px);
  min-height: 100dvh;
}

header {
  /*height: var(--header-height);*/
  width: 100%;
  background-color: var(--c-bg-header);
  font-size: 1.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--c-primary-40-desat);
}
footer {
  width: 100%;
  background-color: var(--c-bg-header);
  border-top: 1px solid var(--c-primary-40-desat);
  /*min-height: var(--footer-min-height);*/
  font-size: 1rem;
  padding: 1rem;
  display: flex;
}

main {
  padding: 1rem;
}

/* overwrite : */
h2 {
  margin: 0;
}

a,
a:active,
a:hover,
a:after {
  color: oklch(95% 10% var(--hue-primary));
}

/*
.nowrap {
  max-width: 100%;
  white-space: nowrap;
}*/
td,
th {
  padding: 0.4rem;
}
th,
tr:nth-child(even) {
  background-color: oklch(10% 10% var(--hue-primary) / 30%);
}

li {
  margin: 0.2rem;
}

.btn-submit {
  background-color: var(--c-primary-40);
  border: transparent;
  border-radius: 2rem;
  padding: 0.7rem;
  font-size: 1.2rem;
  font-family: Nunito, Arial;
  color: var(--c-text);
}

.no-wrap {
  text-wrap: nowrap;
}
